<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

    <title>叫我</title>

    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" data-app="8c5f151c-762e-45af-9fd2-cfd0e6d043ed" type="text/javascript" src="bootstrap.js"></script>
    <script src="view/assets/js/lodash.js"></script>

</head>
<body></body>
</html>
